body {
  width: 100%;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: rgb(1, 26, 52);
  font-family: Favorit, "Helvetica Neue", HelveticaNeue, Helvetica, Arial,
    sans-serif;
  position: relative;
}
.main {
  display: flex;
  flex-flow: nowrap row;
}

#banner {
  background-color: rgb(1, 26, 52);
  border-bottom: 1px solid rgb(34, 56, 78);
  display: flex;
  flex-flow: nowrap row;
  padding: 0px 20px 10px 10px;
  width: 97%;
  position: fixed;
}

#header {
  width: 40%;
  height: 40px;
  display: flex;
  align-items: center;
}

#logo {
  padding: 0 20px;
}

#search {
  position: relative;
}

#search i {
  position: absolute;
  left: 10px;
  top: 10px;
}

#search input[type="search"] {
  padding-left: 35px;
}

#search-box {
  background: rgb(65, 83, 103);
  width: 100%;
  border-radius: 2px;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.65);
  font-size: 16px;
  width: 480px;
  height: 38px;
}

#nav {
  width: 60%;
  height: 38px;
  display: flex;
  justify-content: flex-end;
}

#icons {
  width: 50%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section1 {
  display: flex;
  flex-flow: nowrap column;
  margin-top: 80px;
  margin-left: 150px;
  width: auto;
}
.profilephoto {
  display: flex;
  flex-flow: nowrap column;
  border-radius: 5px;
}

#section2 {
  display: flex;
  flex-flow: nowrap row;
  margin-top: 80px;
  width: 45%;
}

#section3 {
  margin-top: 80px;
  width: 25%;
  margin-left: 20px;
}

.tools {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  margin: 0 20px;
  height: 108px;
  width: 100%;
}
.tools i:hover {
  transform: translateY(-8px);
  transition-property: translateY();
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.1s;
}
.tools ul {
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
}

.blogs p {
  color: white;
  font-size: 20px;
  border-bottom: 1px solid rgb(34, 56, 78);
  font-weight: 700;
  padding-bottom: 10px;
}

.blogphoto {
  width: 13%;
  border-radius: 5px;
}
.blogphoto img {
  border-radius: 5px;
}

.blogname {
  width: 60%;
  color: white;
}

.follow {
  font-size: 15px;
  font-weight: 600;
  color: rgb(32, 185, 252);
}
.postfollow:hover {
  font-size: 14px;
  font-weight: 900;
}

.blogs .content {
  display: flex;
  margin-top: 15px;
}
.explore {
  margin-top: 30px;
  color: rgb(32, 185, 252);
}
.explore:hover {
  text-decoration-style: solid rgb(32, 185, 252) 1px;
}
.radar {
  margin-top: 30px;
}
.radar-content {
  background-color: white;
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 5px;
}
.more {
  display: flex;
  justify-content: space-between;
  justify-items: end;
}

.moremore {
  background-color: lightslategray;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.post-container {
  background-color: white;
  margin-top: 30px;
  width: auto;
  height: auto;
  border-radius: 5px 5px 5px 5px;
}

.post-head {
  display: flex;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
}

.postblogname,
.postblogphoto,
.postfollow {
  margin: 10px;
}

.postfollow {
  color: rgb(32, 185, 252);
}

.post img {
  width: 100%;
  height: auto;
  padding: 0px;
}

.react {
  display: flex;
  flex-flow: nowrap row;
  background-color: white;
  height: 50px;
  align-items: center;
  border-radius: 5px 5px 5px 5px;
}

.react-rt {
  display: flex;
  justify-content: end;
  width: 50%;
}
.react-rt div {
  font-size: 17px;
  margin-right: 20px;
  font-weight: bold;
}

.react-lt {
  display: flex;
  width: 50%;
  font-weight: bold;
}

.react-lt div {
  font-size: 17px;
  font-weight: bold;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.load div {
  width: 25px;
  height: 25px;
  background-color: rgb(34, 56, 78);
  display: flex;
  border-radius: 5px;
  margin: 5px;
  animation-name: updown;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.two {
  animation-delay: 0.1s;
}

.three {
  animation-delay: 0.3s;
}

@keyframes updown {
  to {
    opacity: 0.8;
    transform: translateY(-10px);
  }
}
.post {
  padding: 0px 20px;
}

.post .author {
  font-weight: lighter;
  display: block;
  font-size: 25px;
}
.post .qoute {
  font-size: 30px;
  font-weight: 400;
}

.post .hashtags {
  color: rgb(34, 56, 78);
  font-size: 15px;
}
.profilephoto img {
  border-radius: 5px;
  width: 75px;
  height: 75px;
}

@keyframes logocolor {
  10% {
    color: maroon;
  }
  30% {
    color: mediumaquamarine;
  }
  50% {
    color: mediumorchid;
  }
  70% {
    color: limegreen;
  }
  90% {
    color: lightskyblue;
  }
  100% {
    color: lemonchiffon;
  }
}
#logo i:hover {
  animation: logocolor 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s infinite
    alternate forwards;
}
.content:hover {
  opacity: 0.7;
}
